<h1>Animal Index</h1>
<ul>
    <% @animals.each do |animal| %>
        <li> <a href="/animals/<%= animal.slug %>"><%= animal.kind_of_animal %></a> </li>
        <br>
    <% end %>
</ul>
<h3>Links</h3>
<a href="/animals">Animal Index</a>
<br>
<a href="/farmers">Farmer Index</a>