<h1>Welcome, <%= @farmer.username %></h1>
<ul>
    <% @farmers.each do |farmer| %>
        <li> <a href="/farmers/<%= farmer.slug %>"><%= farmer.username %></a> </li>
        <br>
    <% end %>
</ul>
<h2>Animals Index</h2>
<a href="/animals">Click here to access the Animal Index</a>