<h1>Welcome, <%= @farmer.username %></h1>
<ul>
    <% @farmers.each do |farmer| %>
        <li> <a href="/farmers/<%= farmer.slug %>"><%= farmer.username %></a> </li>
        <br>
    <% end %>
</ul>
<h3>Links</h3>
<a href="/animals">Animal Index</a>
<br>
<a href="/farmers">Farmer Index</a>